/* @import "https://fonts.googleapis.com/css?family=Ubuntu:400,400i,700"; */

html,body,.site,.app {
margin:0;
padding:0;
width:100vw;
height:100vh;
font-family:arial;

}

body {
background-color:var(--backdropextender);
}

div,h1,p {
margin:0;
padding:0
}

a,a:visited {
color:#006eff
}

.site,.app {
display:flex;
flex-direction:column
}

.log {
margin:6px auto;
padding:10px;
width:94%;
background:var(--backdrop);
border-radius:var(--borderRad);
display:flex;
overflow-y:scroll;
flex-direction:column;
flex-grow:1;
overflow-wrap:break-word;
  
}

.message {
margin:6px auto;
padding:10px;
width:94%;
  color:white;
background-color:#000;
border-radius:var(--borderRad)
}

/* .log {
display:flex;
overflow-y:scroll;
flex-direction:column;
flex-grow:1;
overflow-wrap:break-word
} */
#login{
background-color:#000000;  
}

.item {
background-color:#bfd4f3;
margin:4px;
color:#000;
padding:6px;
border-radius:var(--borderRad);
width:max-content;
max-width:90%;
box-shadow:0 3px 3px 0 #00000036;
opacity:1;
transform:scale(1);
transition:opacity 10ms ease-out,transform 10ms ease-out
}

.item.load {
opacity:0;
transform:scale(0)
}

.item.same {margin-top:-3px;}
.item.me {background-color:#fff79e;}

.item>p{display:inline}

.item-time {
color:gray;
font-size:13px;
margin-right:4px;
}
.item-platform {
color:gray;
font-size:9px;
margin-right:4px;
}
.item-name {
font-weight:900;
color:#008a22
}

.item-name::after {
content:':'
}

.item.me > .item-name {
color:#0085d3
}

.item-message {
line-height:1.2
}

.item.pm > .item-name::after {
content:' >'
}

.item.server > .item-name::after {
content:''
}

.item.server > .item-message {
font-style:italic
}

.message {
display:block;
outline:none;
overflow-wrap:break-word
}

.message:empty::before {
content:'Send a message...';
opacity:.32
}

#setting-button {
border:1px;
background:#333;
color:#fff
}

#okRules {
background-color:#F2F2F2;
color:#333;
position:absolute;
bottom:0;
left:0;
width:100%;
padding:10px;
font-family:sans-serif;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
box-sizing:border-box;
border-top:1px solid #ccc;
z-index:10
}

#okRules p {
margin:0 0 10px;
float:left;
padding:5px 0
}

#okRules #okClose,#okRules #okCprivacy {
padding:5px 20px;
float:right;
margin-left:10px;
text-decoration:none;
border-radius:3px;
color:#fff
}

#okRules #okClose {
background-color:#39B54A;
text-shadow:0 1px 1px #507F2B;
box-shadow:inset 0 -1px 1px #507F2B
}

#okRules #okClose:hover {
background-color:#42ce55
}

#okRules #okCprivacy {
background-color:#8D9499;
text-shadow:0 1px 1px #63666B;
box-shadow:inset 0 -1px 1px #63666B
}

#okRules #okCprivacy:hover {
background-color:#a0a8ae
}

.okcBeginAnimate {
-webkit-animation:myfirst 2s;
animation:myfirst 2s
}

@-webkit-keyframes myfirst {
from {
opacity:0
}

to {
opacity:1
}
}

@keyframes myfirst {
from {
opacity:0
}

to {
opacity:1
}
}

.sidenav {
height:100%;
width:0;
position:fixed;
z-index:1;
top:0;
left:0;
background-color:#111111;
color:#FFFFFF;
overflow-x:hidden;
padding-top:60px;
transition:.5s
}


.sidenav2 {
float:right;
height:100%;
width:0;
position:fixed;
z-index:1;
top:0;
left:0;
background-color:#111111;
color:#FFFFFF;
overflow-x:hidden;
padding-top:60px;
transition:.5s
}



.sidenav2 a .sidenav a {
padding:8px 8px 8px 32px;
text-decoration:none;
font-size:25px;
color:#818181;
display:block;
transition:.3s
}

.sidenav a:hover .sidenav2 a:hover {
color:#f1f1f1
}

.sidenav .closebtn {
position:absolute;
top:0;
right:25px;
font-size:36px;
margin-left:50px
}

.sidenav .closebtn2 {
position:absolute;
top:0;
left:25px;
font-size:36px;
margin-left:50px
}


#main {
transition:margin-left .5s;
padding:20px
}

@media screen and (max-height: 450px) {
.sidenav {
padding-top:15px
}

.sidenav a {
font-size:18px
}
}
 /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
}

/* Modal Content/Box */
.modal-content {
  background-color: #57e389;
  margin: 30% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #f6f5f4;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 100px;
  font-weight: bold;
}
::-moz-selection {background: #0000FF;}::selection{background:#0000FF;}


/**nav buttons*/
/*nav {font-family: "Montserrat", sans-serif;box-sizing: border-box;margin: 0;padding: 0;}
.nav-list {background-color:var(--backdropextender);margin: 0;padding: 0 0;display: flex;justify-content: flex-end;align-items: center;}
.nav-items {list-style: none;margin-right: 2rem;color: beige;}
.nav-items a {text-decoration: none;color: white;}
.nav-items:first-child {margin-right: auto;margin-left: 2rem;}
.nav-btn {font-size: 1rem;background: rgb(165, 117, 210);border: none;outline: none;padding:0;cursor: pointer;}
.nav-btn:hover {background-color: blueviolet;color: beige;}
.nav-items a:hover {color: blueviolet;}*/